.Top-bar {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.05);
    transition: height 150ms ease-out;
}

.Top-bar button:last-of-type {
    display: none;
}

.Top-bar.active {
    height: 46px;
}

.Top-bar.active button:first-of-type {
    display: none;
}

.Top-bar.active button:last-of-type {
    display: initial;
}

.big-input::placeholder {
    font-size: 1.1rem;
}