.Number-spinner {
    display: flex;
    border: 1px solid black;
    height: 46px;
}


.Number-spinner__button {
    flex-basis: 34px;
    flex-shrink: 0;
}

.Number-spinner__input {
    min-width: 1.8em;
}

.Number-spinner__input::-webkit-outer-spin-button,
.Number-spinner__input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    /* Apparently some margin are still there even though it's hidden */
    margin: 0;
}

.Number-spinner__input[type=number] {
    /* Firefox */
    -moz-appearance: textfield;
}