.Number-spinner {
    display: flex;
    border: 1px solid black;
    /* border-radius: 4px;
    overflow: hidden; */
    height: 46px;
}

.Number-spinner .Number-spinner__input {
    /* float: left; */
    /* width: 50%; */
    display: block;
    flex-basis: fill;
}

.Number-spinner .Number-spinner__button {
    /* float: right; */
    /* display: block; */
    /* width: 25%; */
    /* height: 50%; */
    min-width: 36px;
    height: 100%;
}