.Typeahead-dropdown {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;

    width: 100%;
    max-height: calc(100vh - 50px);

    opacity: 0;
    background-color: var(--color-secondary-light);
    transition: opacity 150ms linear;
    
    font-size: 22px;

    overflow-y: auto;
    z-index: 10;
    pointer-events: none   
}

.Typeahead-dropdown .captalize {
    line-height: 0.9;
}

.Typeahead-dropdown .small-text {
    font-size: 16px;
    color: var(--color-static-text2);
}

.Typeahead-dropdown.open {
    pointer-events: auto;
    opacity: 1;
}