.Typeahead-dropdown {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    opacity: 0;
    transition: opacity 150ms linear;
    pointer-events: none;
}

.Typeahead-dropdown.open {
    pointer-events: auto;
    opacity: 1;
}