@import-normalize;

:root {
	--side-gaps-width: 15px;
	--top-bar-height: 80px;
	--color-secondary: hsl(33, 96%, 71%);
	--color-secondary-light: hsl(33, 96%, 73%);
	--color-action: hsl(215, 26%, 28%);
	--color-action-secondary: hsla(215, 26%, 28%, 78%);
	--color-variable-text: hsl(264, 15%, 27%);
	--color-variable-text2: hsl(215, 26%, 33%);
	--color-highlight-invert: hsl(264, 15%, 42%);
	--color-static-text2: hsl(264, 12%, 42%);
	--color-destructive: hsl(353, 77%, 65%);
	--box-shadow-action: 0px 6px 15px rgba(0, 0, 0, 0.3);
	--box-shadow-highlight: 0px 8px 15px rgba(0, 0, 0, 0.4);
	--drop-shadow-action-icon: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.25));
}

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: Cabin, Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-secondary);
}

input,
textarea {
	background-color: transparent;
}

/* reset input */
[type="text"],
[type="number"] {
	border: none;
	padding: 0;
	width: 100%;
}

input[list]::-webkit-calendar-picker-indicator {
	display: none;
}

/* reset button */
button {
	border: none;
	padding: 0;
	background-color: transparent;
	font-size: 1em;
}

input,
textarea,
button {
	font-family: inherit;
	color: var(--color-variable-text);
}

button img,
button i {
	vertical-align: middle;
}

input[type=number],
.family-numeric {
	font-family: 'Roboto Mono', monospace;
}

.white {
	background-color: #fff;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/* reset list */
.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* remove outline */
.no-outline:focus {
	outline: none;
}

[hidden] {
	display: none !important;
}

hr {
	margin: 0;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.side-gaps-pad {
	padding-right: var(--side-gaps-width, 15px);
	padding-left: var(--side-gaps-width, 15px);
}

.w100pct {
	width: 100%;
}

.h100pct {
	height: 100%;
}

.transparent {
	background-color: transparent;
}

.black-light {
	background-color: hsla(0, 0%, 18%, 1);
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.small-text {
	font-size: 0.85em;
}

.capitalize {
	text-transform: capitalize;
}

.btn {
	height: 40px;
	padding: 0 1em;
	border-radius: 4px;
	color: white;
	font-weight: bold;
}

.btn__icon {
	margin-right: 0.5em;
}

.list {
	padding-top: 0.5em;
}

.list>.list__item {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 56px;
	margin-top: 13px;
}

.list__item>.list__option-main-action {
	flex-grow: 1;
}

.big-input {
	font-size: 1.1em;
}

.big-input::placeholder {
	font-size: 1em;
}

.secondary-black-text {
	color: rgba(0, 0, 0, 0.6)
}

.invert-y {
	transform: rotate(180deg);
}

.btn-icon {
	filter: var(--drop-shadow-action-icon);
}

.list-item {
	position: relative;

}

.list-item__underlay-action {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 115px;
	-webkit-appearance: none;
}
