.Nav-bar {
    position: absolute;
    top: calc(var(--top-bar-height) + 1px);
    right: 0;
    bottom: 0;
    display: flex;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    width: 60vw;
    height: calc(100vh - var(--top-bar-height));
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}

.Nav-bar--open {
    top: var(--top-bar-height);
}

.Nav-bar__links {
    position: relative;
    top: calc(-1 * (var(--top-bar-height) / 2));
    padding-left: 2.5rem;
    color: var(--color-action);
}

.Nav-bar__links>* {
    flex-grow: 1;
    line-height: 2.5;
    font-size: 24px;
    font-weight: 600;
}

.Nav-bar__links>* a {
    text-decoration: none;
}

.Nav-bar__links>* a:visited {
    color: var(--color-action);
}