.Product-item {
    display: flex;
    padding: 15px 0;
    align-items: center;
    user-select: none;
}

.Product-item__name {
    flex-grow: 1;
}

.Product-item .Number-spinner {
    flex-basis: 34%;
}