.Product-item {
    display: flex;
    padding: 15px 0;
    align-items: center;
    user-select: none;
}

.Product-item__name {
    flex-shrink: 0;
    flex-basis: 66%;
    max-width: 66%;
    font-size: 1.2em;
}