.Product-item-wrapper {}

.Product-item-wrapper .list-item__underlay-action {
    color: white;
    background-color: hsl(16, 100%, 50%);
}

.Product-item {
    position: relative;
    display: flex;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    user-select: none;
    transition: transform 70ms linear;
    background-color: var(--color-secondary);
}

.Product-item--disabled .Product-item__name,
.Product-item--disabled .Number-spinner__input {
    opacity: 0.43;
}

.Product-item--disabled .Number-spinner__button:last-child img,
.Product-item--disabled .Number-spinner__button:last-child [role="img"] {
    opacity: 0.2;
}

.Product-item__name {
    padding-right: 14px;
    flex-basis: 60%;
    flex-shrink: 0;
    max-width: 60%;
    font-size: 1.2em;
}