.App {
    padding-bottom: 56px;
}

.App__dropdown {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    opacity: 0;
    transition: opacity 150ms linear;
}

.App__dropdown.active {
    z-index: 10;
    opacity: 1;
}

.white {
    background-color: #fff;
}

.center {
    text-align: center;
}

.p-sides-10px {
    padding: 0 10px;
}

.w100pct {
    width: 100%;
}

.h100pct {
    height: 100%;
}

.transparent {
    background-color: transparent;
}

.black-light {
    background-color: hsla(0, 0%, 18%, 1);
}

button img,
button i {
    vertical-align: middle;
}

.btn {
    height: 40px;
    padding: 0 1em;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.list {
    padding-top: 0.5em;
}

.list>.list__item {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.big-input,
.big-input::placeholder {
    font-size: 1.1rem;
}