.white {
    background-color: #fff;
}

.center {
    text-align: center;
}

.p-sides-10px {
    padding: 0 10px;
}

.w100pct {
    width: 100%;
}

.h100pct {
    height: 100%;
}

.transparent {
    background-color: transparent;
}

.black-light {
    background-color: hsla(0, 0%, 18%, 1);
}

button img,
button i {
    vertical-align: middle;
}

/* :not([class$="btn-flat"]):not([class$="btn-icon"]):not(:not([class])) */

.btn {
    height: 36px;
    padding: 0 1em;
    border-radius: 3px;
}

.btn {
    color: white;
}