:root {
    --side-gaps-width: 10px;
    --top-bar-height: 80px;
}

.white {
    background-color: #fff;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* .side-gaps-pad { */
.side-gaps-pad {
    padding: 0 10px;
    padding: 0 var(--side-gaps-width);
}

.w100pct {
    width: 100%;
}

.h100pct {
    height: 100%;
}

.transparent {
    background-color: transparent;
}

.black-light {
    background-color: hsla(0, 0%, 18%, 1);
}

.capitalize {
    text-transform: capitalize;
}

button img,
button i {
    vertical-align: middle;
}

.btn {
    height: 40px;
    padding: 0 1em;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.btn__icon {
    margin-right: 0.5em;
}

.list {
    padding-top: 0.5em;
}

.list>.list__item {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 56px;
}

.list__item>.list__option-main-action {
    flex-grow: 1;
}

.big-input {
    font-size: 1.1em;
}

.big-input::placeholder {
    font-size: 1em;
}

.secondary-black-text {
    color: rgba(0, 0, 0, 0.6)
}

.small-text {
    font-size: 0.85em;
}

.App {
    padding-bottom: 56px;
}

.Top-bar .btn-icon,
.Nav-bar .btn-icon {
    padding: 0 var(--side-gaps-width);
}