@import-normalize;

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: Cabin, Arial, Helvetica, sans-serif;
}

input, textarea {
	font-family: Cabin, Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* reset button */
button {
	border: none;
	padding: 0;
	background-color: transparent;
	font-size: 1em;
}

/* reset input */
input[type="text"],
input[type="number"] {
	border: none;
	padding: 0;
	width: 100%;
}

input[list]::-webkit-calendar-picker-indicator {
	display: none;
}

/* reset list */
.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* remove outline */
.no-outline:focus {
	outline: none;
}

[hidden] {
	display: none !important;
}